<section class="left-column">
  <h2 class="page-title">UNSUBSCRIBE</h2>
  <p>Please click below if you would like to STOP receiving email notifications about new posts on this site.</p>
  <%= link_to "UNSUBSCRIBE", subscribe_path(1), method: :delete, :class=>"button", :id=>"subscribe" %>
</section>
<section class="right-column">
  <h2 class="latest-posts">LATEST POSTS:</h2>
  <% Post.order('created_at DESC').limit(3).each do |post| %>
    <article class="latest-post">
      <p class="latest-post-title"><%=post.title%></p>
      <p class="latest-post-message"><%=post.text%></p>
      <%= link_to "READ MORE...", post_path(post), :class=>"read-more"%>
      <a class="comment-number">COMMENTS(<%=post.comments.count%>)</a>
    </article>
  <%end%>
</section>