<section class="left-column">
  <h2 class="page-title">GET IN TOUCH</h2>
  <%= form_for @message, url: contact_path do |message_form| %>
    <p class="label">YOUR NAME*</p>
    <%= message_form.text_field :name, :class=>"small-field" %><br/>
    <p class="label">EMAIL*</p>
    <%= message_form.email_field :email, :class=>"small-field"  %><br/>
    <p class="label">MESSAGE*</p>
    <%= message_form.text_area :content, :class=>"large-field"  %><br/>
    <%= message_form.submit "SEND", :class=>"button" %>
  <% end %>
</section>
<section class="right-column">
  <h2 class="latest-posts">LATEST POSTS:</h2>
  <% @posts.each do |post| %>
    <article class="latest-post">
      <p class="latest-post-title"><%=post.title%></p>
      <p class="latest-post-message"><%=raw post.text%></p>
      <%= link_to "READ MORE...", post_path(post), :class=>"read-more"%>
      <a class="comment-number">COMMENTS(<%=post.comments.count%>)</a>
    </article>
  <%end%>
</section>