<section class="left-column">
  <h2 class="page-title">RESEND CONFIRMATION INSTRUCTIONS</h2>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
    <p>Please note: it may take up to 1 hour to receive the confirmation instrustions</p><br/>

    <p class="label">EMAIL*</p>
    <%= f.email_field :email, :class=>"small-field" %><br/>
    <%= f.submit "RESEND CONFIRMATION", :class=>"button" %>
  <% end %>

  <%= render "devise/shared/links" %>
</section>
<section class="right-column">
  <h2 class="latest-posts">LATEST POSTS:</h2>
  <% Post.order('created_at DESC').limit(3).each do |post| %>
    <article class="latest-post">
      <p class="latest-post-title"><%=post.title%></p>
      <p class="latest-post-message"><%=post.text%></p>
      <%= link_to "READ MORE...", post_path(post), :class=>"read-more"%>
      <a class="comment-number">COMMENTS(<%=post.comments.count%>)</a>
    </article>
  <%end%>
</section>
