<section class="left-column">
    <%= form_for [@post, @comment] do |f| %>
      YOUR COMMENT:<br/>
      <%= f.text_area :text %><br/>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit 'SUBMIT' %>
    <% end %>
  <article class="post">
    <section class="post-details">
      <p class="post-title"><%=@post.title%></p>
      <p class="time"><%= time_ago_in_words(@post.created_at) %> ago</p>
    </section>
    <p class="home-post-message"><%=@post.text%></p>
    <% if user_signed_in? %>
      <% if current_user.has_role? :admin%>
        <%= link_to "EDIT", edit_post_path(@post)%>
        <%= link_to "DELETE", post_path(@post), method: :delete, :id=>"delete"%>
      <% end %>
    <% end %>
  </article>
  
  <% if @post.comments.length != 0%>
    <article class="comment">
        <% @post.comments.each do |comment| %>
          <section class="comment-details">
            <p class="time" id="comment-time"><%= time_ago_in_words(comment.created_at) %> ago</p>
            <p class="author">by <%=User.find(comment.user_id).username%></p>
          </section>
          <p><%=comment.text%></p>
        <%end%>
    </article>
  <%end%>
</section>
<section class="right-column">
  <h2 class="Latest-posts">LATEST POSTS:</h2>
  <% @posts.each do |post| %>
    <article class="post">
      <section class="post-details">
        <p class="post-title"><%=post.title%></p>
      </section>
      <p class="news-post-message"><%=post.text%></p>
      <%= link_to "READ MORE...", post_path(post), :class=>"read-more"%>
      <a class="comment-link">COMMENTS(<%=post.comments.count%>)</a>
    </article>
  <%end%>
</section>