<section class="left-column">
  <h2 class="page-title">CHANGE YOUR PASSWORD</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <p><%= devise_error_messages! %></p><br/><br/>
    <%= f.hidden_field :reset_password_token %>

    <p class="label">NEW PASSWORD*</p>
    <%= f.password_field :password, autocomplete: "off", :class=>"small-field" %>
    <p class="label">CONFIRM NEW PASSWORD*</p>
    <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"small-field"  %><br/>
    <%= f.submit "CHANGE MY PASSWORD", :class=>"button"%>
  <% end %>

  <%= render "devise/shared/links" %>
</section>
<section class="right-column">
  <h2 class="latest-posts">LATEST POSTS:</h2>
  <% Post.order('created_at DESC').limit(3).each do |post| %>
    <article class="latest-post">
      <p class="latest-post-title"><%=post.title%></p>
      <p class="latest-post-message"><%=raw post.text%></p>
      <%= link_to "READ MORE...", post_path(post), :class=>"read-more"%>
      <a class="comment-number">COMMENTS(<%=post.comments.count%>)</a>
    </article>
  <%end%>
</section>