<section class="left-column">
  <article class="post">
    <% if @post %>
      <section class="post-details">
        <p class="post-title"><%=@post.title%></p>
        <p class="time"><%= time_ago_in_words(@post.created_at) %> ago</p>
      </section>
      <p class="home-post-message"><%=raw @post.text%></p>
      <br/>
      <%= link_to "COMMENT", new_post_comment_path(@post), :class=>"comment-link"%>
    <%end%>
  </article>
  <% if @post != nil %>
    <% if @post.comments.length != 0%>
        <article class="comment">
            <% @post.comments.each do |comment| %>
              <section class="comment-details">
                <p class="time" id="comment-time"><%= time_ago_in_words(comment.created_at) %> ago</p>
                <p class="author">by <%=User.find(comment.user_id).username%></p>
              </section>
              <p><%=comment.text%></p>
            <%end%>
        </article>
    <%end%>
  <%end%>
</section>
<section class="right-column">
  <h2 class="latest-posts">LATEST POSTS:</h2>
  <% i = 1 %>
  <% while i < @posts.count do %>
    <article class="latest-post">
      <p class="latest-post-title"><%=@posts[i].title%></p>
      <p class="latest-post-message"><%=raw @posts[i].text%></p>
      <%= link_to "READ MORE...", post_path(@posts[i]), :class=>"read-more"%>
      <a class="comment-number">COMMENTS(<%=@posts[i].comments.count%>)</a>
      <% i += 1 %>
    </article>
  <%end%>
</section>