<section class="left-column">
  <h2 class="page-title">LOG IN</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <p class="label">EMAIL OR USERNAME*</p>
    <%= f.text_field :login,:class=>"small-field"%>
    <p class="label">PASSWORD*</p>
    <%= f.password_field :password, autocomplete: "off", :class=>"small-field"%><br/>
    <%= f.submit "LOG IN", :class=>"button" %>

<!--     <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end -%> --> 
  <% end %>
  <%= render "devise/shared/links" %>
</section>
<section class="right-column">
  <h2 class="latest-posts">LATEST POSTS:</h2>
  <% Post.all.each do |post| %>
    <article class="latest-post">
      <p class="latest-post-title"><%=post.title%></p>
      <p class="latest-post-message"><%=post.text%></p>
      <%= link_to "READ MORE...", post_path(post), :class=>"read-more"%>
      <a class="comment-number">COMMENTS(<%=post.comments.count%>)</a>
    </article>
  <%end%>
</section>
