<section class="left-column">
  <% if user_signed_in? %>
    <% if current_user.has_role? :admin%>
      <%= link_to "NEW POST", new_post_path %>
    <% end %>
  <% end %>
  <% @posts.each do |post| %>
    <article class="post">
      <section class="post-details">
        <p class="post-title"><%=post.title%></p>
        <p class="time"><%= time_ago_in_words(post.created_at) %> ago</p>
      </section>
      <p class="posts-post-message"><%=post.text%></p>
      <%= link_to "READ MORE", post_path(post), :class=>"read-more"%>
      <a class="comment-link"><%=post.comments.count%> COMMENTS</a>
    </article>
  <%end%>
</section>