<section class="left-column">
  <% if user_signed_in? %>
    <% if current_user.has_role? :admin%>
      <%= link_to "NEW POST", new_post_path, :class=>"comment-link" %>
    <% end %>
  <% end %>
  <% @posts.each do |post| %>
    <article class="post">
      <section class="post-details">
        <p class="post-title"><%=post.title%></p>
        <p class="time"><%= time_ago_in_words(post.created_at) %> ago</p>
      </section>
      <p class="posts-post-message"><%=raw post.text%></p>
      <%= link_to "READ MORE...", post_path(post), :class=>"read-more"%>
      <a class="comment-number-full">COMMENTS(<%=post.comments.count%>)</a>
    </article>
  <%end%>
</section>
<section class="right-column">
  <article class="contact-me">
    <h3 class="have-any-questions">HAVE ANY QUESTIONS? <br/><br/>CLICK <%= link_to "HERE", contact_path, :class=>"read-more"%> TO SEND ME A MESSAGE</h3>
  </article>
</section>