<section class="left-column">
  <h2>NEW POST:</h2>
  <%= form_for @post do |f| %>
    TITLE:<br>
    <%= f.text_field :title %><br/>
    TEXT:<br/>
    <%= f.text_area :text %><br/>
    <%= f.submit :POST %>
  <% end %>
</section>
<section class="right-column">
  <h2 class="latest-posts">LATEST POSTS:</h2>
  <% @posts.each do |post| %>
    <article class="latest-post">
      <p class="latest-post-title"><%=post.title%></p>
      <p class="latest-post-message"><%=post.text%></p>
      <%= link_to "READ MORE...", post_path(post), :class=>"read-more"%>
      <a class="comment-number">COMMENTS(<%=post.comments.count%>)</a>
    </article>
  <%end%>
</section>

