<section class="left-column">
  <article class="post">
    <section class="post-details">
      <p class="post-title"><%=@post.title%></p>
      <p class="time"><%= time_ago_in_words(@post.created_at) %> ago</p>
    </section>
    <p class="home-post-message"><%=@post.text%></p>
    <%= link_to "COMMENT", new_post_comment_path(@post), :class=>"comment-link"%>
    <% if user_signed_in? %>
      <% if current_user.has_role? :admin%>
        <%= link_to "EDIT", edit_post_path(@post)%>
        <%= link_to "DELETE", post_path(@post), method: :delete%>
      <% end %>
    <% end %>
  </article>
  
  <% if @post.comments.length != 0%>
      <article class="comment">
          <% @post.comments.each do |comment| %>
            <section class="comment-details">
              <p class="time" id="comment-time"><%= time_ago_in_words(comment.created_at) %> ago</p>
              <p class="author">by <%=User.find(comment.user_id).username%></p>
            </section>
            <p><%=comment.text%></p>
          <%end%>
      </article>
    <%end%>
</section>




