<!DOCTYPE html>
<html>
<head>
  <title>Schecter Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <section class="navigation-bar">
      <%= link_to "Schechter Blog", root_path, :class=>"navbar-brand"%>
      <ul class="options">
        <li><%= link_to "HOME", root_path %></li>
        <li><%= link_to "ABOUT", about_path %></li>
        <li><%= link_to "CONTACT", contact_path %></li>
        <li><%= link_to "ALL POSTS", posts_path %></li>
        <li><%= link_to "SUBSCRIBE", new_subscribe_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></li>
        <% else %>  
          <li><%= link_to "LOG IN", new_user_session_path %></li>
        <% end %>
      </ul>
    </section>
  </header>
  <main>
    <div class="f">
      <% if flash.present? -%>
        <% flash.each do |key, value| %>
          <% if key == "alert" %>
            <p class="alert"><%=value%></p>
          <% elsif key == "notice" %>
            <div class='notice-box'>
              <button class="close">X</button>
              <p class="notice"><%= value %></p>
            </div>
          <% end %>
        <% end %> 
      <% end -%> 
    </div>
    <%= yield %>
  </main>
  <footer>
    <p class="copyright">Copyright SchechterBlog</p>
  </footer>
</body>
</html>
